<div class="col-xs-6 col-sm-3">
  <%= image_tag(movie.poster_image_url, class: "thumb-size") %>
  <%= image_tag movie.image_url(:thumb) if movie.image? %>

  <h3><%= link_to movie.title, movie_path(movie) %></h3>
  <h4><%= formatted_date(movie.release_date) %></h4>
  <h5>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h5>
  <p><%= movie.description %></p>
</div>
