<div class="row">
  <div class="col-xs-6">
  <% if @movie.poster_image_url.blank? %>
    <%= image_tag "https://s-media-cache-ak0.pinimg.com/736x/72/24/f6/7224f6d53614cedbf8cef516b705a555.jpg" %>
  <% else %>
    <%= image_tag @movie.poster_image_url %>
  <% end %>
  </div>

  <div class="col-xs-6">
  <h2><%= @movie.title %></h2>
  <p><%= link_to "edit", edit_movie_path(@movie), class: "btn btn-default btn-block" %> 
  <%= link_to "delete", movie_path(@movie), method: :delete, class: "btn btn-default btn-block",  data: {confirm: "Are you sure?"} %></p>
  <p>Rating: <%= @movie.review_average %>/10</p>
  <h3><%= formatted_date(@movie.release_date) %></h3>
  <h4>Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes</h4>
  <p><%= @movie.description %></p>
  </div>
</div>

<div class="row">
  <h3>Reviews of <em><%= @movie.title %></em></h3>
  <% if current_user %>
    <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
    <% @movie.reviews.each do |review| %>
      <p><%= review.text %></p>
      <p><%= review.rating_out_of_ten %>/10</p>
      <small>- <%= link_to review.user.full_name, user_path(review.user) %></small><br/>
      <hr />
    <% end %>
  <% else %>
    <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
  <% end %>
</div>