<%= link_to "Back to all movies", movies_path %><br/>

<h1>User Profile</h1>
<h2><%= @user.full_name %></h2>
<p>Email: <%= @user.email %></p>

<hr />

<h3>Reviews by <em><%= @user.full_name %></em></h3>
<% @reviews.each do |review| %>
  <%= render partial: 'reviews/review', locals: { review: review } %>
<% end %>