<% if current_user %>
  <p class="navbar-text">Signed in as <%=link_to current_user.full_name, user_path(current_user), class: "navbar-link" %></p>
  <% if current_admin? %>
    <li><%= link_to "All Users", admin_users_path %></li>
  <% end %>
  <li><%= link_to "Log out", session_path(:current), method: :delete %></li>
<% else %>
  <li><%= link_to "Log In", new_session_path %></li>
  <li><%= link_to "Sign Up", new_user_path %></li>
<% end %>