<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <title>RottenMangoes</title>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <%= link_to "Rotten Mangoes", root_path, class: "navbar-brand" %>
          <%= render 'movies/search' %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Add a New Movie", new_movie_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="main-container" class="container">
    <% if flash.any? %>
      <div class="alert alert-success" role="alert">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value) %>
        <% end %>
      </div>
    <% end %>

      <%= yield %>
    </div>

    <footer class="navbar navbar-default navbar-fixed-bottom">
      <div class='container'>
        <%= render 'layouts/footer' %>
      </div>
    </footer>
  </body>

</html>
